*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-container{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
    width: 100%;
    height: 90vh;
    /* margin-top: 20px; */
}
.col-lg-6 {
    margin-top: 30px;

}
.hotelimg-container{
    width: 100%
}
.hotelimg-container img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}





.form-container{
    width: 100%;
    margin: 0px auto;
    padding: 20px 10px;
    box-shadow: 0px 0px 8px rgb(23, 201, 186) inset;
}
form span{
    font-size: 20px;
    margin: 10px 0px;
}
.input-container{
    width: 90%;
    margin: 8px auto;
}
.input-container label{
    font-size: 20px;
}
.gender{
    font-size: 20px;
}
.radio-label{
    margin-top: 3px;
}
.radio-input{
    margin: 0px 8px;
}